/* Стили для таблицы */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
}

/* Вкладки */
.tabs {
  display: flex;
  margin-bottom: 20px;
}

.tab-button {
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: pointer;
}

.tab-button:hover {
  background-color: #ddd;
}

.tab-content {
  display: none;
}

/* Активные вкладки */
.active {
  display: block;
}

.result {
  margin-top: 20px;
  font-size: 18px;
}

input[type="number"] {
  width: 70px;
  text-align: right;
}
